@use "sass:math";
@use "sass:color";

@keyframes typewriter {
    from{
        width: 0;
    }to{

    }
}
@keyframes shadow{
  0%{text-shadow: 3px 0 1px rgba(0,30,255,0.5),  -3px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  5%{text-shadow: 2.75px 0 1px rgba(0,30,255,0.5),  -2.75px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  10%{text-shadow: 2px 0 1px rgba(0,30,255,0.5), -2px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  15%{text-shadow: 1.125px 0 1px rgba(0,30,255,0.5),  -1.125px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  20%{text-shadow: 1.5px 0 1px rgba(0,30,255,0.5), -1.5px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  25%{text-shadow: 2.5px 0 1px rgba(0,30,255,0.5),  -2.5px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  30%{text-shadow: 1.75px 0 1px rgba(0,30,255,0.5), -1.75px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  35%{text-shadow: 0.25px 0 1px rgba(0,30,255,0.5),  -0.25px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  40%{text-shadow: 2.125px 0 1px rgba(0,30,255,0.5), -2.25px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  45%{text-shadow: 1.485px 0 1px rgba(0,30,255,0.5),  -1.485px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  50%{text-shadow: 0.15px 0 1px rgba(0,30,255,0.5), -0.15px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  55%{text-shadow: 2px 0 1px rgba(0,30,255,0.5),  -2px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  60%{text-shadow: 1.75px 0 1px rgba(0,30,255,0.5), -1.75px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  65%{text-shadow: 0.625px 0 1px rgba(0,30,255,0.5),  -0.625px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  70%{text-shadow: 1.375px 0 1px rgba(0,30,255,0.5), -1.375px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  75%{text-shadow: 0.5px 0 1px rgba(0,30,255,0.5),  -0.5px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  80%{text-shadow: 0.875px 0 1px rgba(0,30,255,0.5), -0.875px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  85%{text-shadow: 2.25px 0 1px rgba(0,30,255,0.5),  -2.25px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  90%{text-shadow: 1.125px 0 1px rgba(0,30,255,0.5), -1.125px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  95%{text-shadow: 2.375px 0 1px rgba(0,30,255,0.5),  -2.375px 0 1px rgba(255,0,80,0.4),  0 0 3px;}  
 100%{text-shadow: 3px 0 1px rgba(0,30,255,0.5), -3px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
}
@keyframes box-shadow{
  0%{box-shadow: 3px 0 1px rgba(0,30,255,0.5),  -3px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  5%{box-shadow: 2.75px 0 1px rgba(0,30,255,0.5),  -2.75px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  10%{box-shadow: 2px 0 1px rgba(0,30,255,0.5), -2px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  15%{box-shadow: 1.125px 0 1px rgba(0,30,255,0.5),  -1.125px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  20%{box-shadow: 1.5px 0 1px rgba(0,30,255,0.5), -1.5px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  25%{box-shadow: 2.5px 0 1px rgba(0,30,255,0.5),  -2.5px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  30%{box-shadow: 1.75px 0 1px rgba(0,30,255,0.5), -1.75px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  35%{box-shadow: 0.25px 0 1px rgba(0,30,255,0.5),  -0.25px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  40%{box-shadow: 2.125px 0 1px rgba(0,30,255,0.5), -2.25px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  45%{box-shadow: 1.485px 0 1px rgba(0,30,255,0.5),  -1.485px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  50%{box-shadow: 0.15px 0 1px rgba(0,30,255,0.5), -0.15px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  55%{box-shadow: 2px 0 1px rgba(0,30,255,0.5),  -2px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  60%{box-shadow: 1.75px 0 1px rgba(0,30,255,0.5), -1.75px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  65%{box-shadow: 0.625px 0 1px rgba(0,30,255,0.5),  -0.625px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  70%{box-shadow: 1.375px 0 1px rgba(0,30,255,0.5), -1.375px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  75%{box-shadow: 0.5px 0 1px rgba(0,30,255,0.5),  -0.5px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  80%{box-shadow: 0.875px 0 1px rgba(0,30,255,0.5), -0.875px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  85%{box-shadow: 2.25px 0 1px rgba(0,30,255,0.5),  -2.25px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  90%{box-shadow: 1.125px 0 1px rgba(0,30,255,0.5), -1.125px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
  95%{box-shadow: 2.375px 0 1px rgba(0,30,255,0.5),  -2.375px 0 1px rgba(255,0,80,0.4),  0 0 3px;}  
 100%{box-shadow: 3px 0 1px rgba(0,30,255,0.5), -3px 0 1px rgba(255,0,80,0.4),  0 0 3px;}
}

  
@keyframes scan{
    0%{bottom: 150%;}
    100%{bottom: -50%;}
}
@keyframes text-flicker {
    0%{opacity: 1;}
    50%{opacity: 0.75;}
}
@keyframes glow {
    
}
@keyframes flicker {
    $steps: 25;

}
@keyframes glitch {
    $steps: 20;
    @for $i from 0 through $steps{
      
      // #{percentage}
    }
}
/*Joey Hoer*/
@keyframes noise {
  0% { background-position:   0%   0%; }
 20% { background-position:  25%  15%; }
 40% { background-position:  50%  69%; }
 60% { background-position:  33%  25%; }
 80% { background-position:  72%   4%; }
100% { background-position:  80%  91%; }
}
@keyframes scroll {
    0%{background-position: 0px 0px;}
    50%{background-position: 0px 200px;}
    // 100%{background-position: 0px 100px;}
}
@keyframes typeout{
  0%{width:0;}
  100%{width: 100%;}
}
// @keyframes flicker{
//     0% {
//         opacity: 0.78;
//       }
//       5% {
//         opacity: 0.651;
//       }
//       10% {
//         opacity: 0.9875;
//       }
//       15% {
//         opacity: 0.537;
//       }
//       20% {
//         opacity: 0.4285;
//       }
//       25% {
//         opacity: 0.822;
//       }
//       30% {
//         opacity: 0.8336;
//       }
//       35% {
//         opacity: 0.5575;
//       }
//       40% {
//         opacity: 0.53751;
//       }
//       45% {
//         opacity: 0.758497;
//       }
//       50% {
//         opacity: 0.797;
//       }
//       55% {
//         opacity: 0.7685;
//       }
//       60% {
//         opacity: 0.68571;
//       }
//       65% {
//         opacity: 0.6758;
//       }
//       70% {
//         opacity: 0.739;
//       }
//       75% {
//         opacity: 0.673;
//       }
//       80% {
//         opacity: 0.94;
//       }
//       85% {
//         opacity: 0.625;
//       }
//       90% {
//         opacity: 0.817;
//       }
//       95% {
//         opacity: 0.269;
//       }
//       100% {
//         opacity: 0.285;
//       }
  
// }