@import url("./style.css");

.terminal {
    #content {
        iframe {
            @include colors;
            min-width: 100px;
            min-height: 100px;

            * {
            }
        }

        #search-box {
            display: block;
            padding: 5px;

            button {
                @include colors;
            }
        }
    }
}
