@charset "UTF-8";
@use "sass:math";
@use 'sass:color';
@import url('animations.css');
@import url("lib.css");
// @use "mixins";
// @use
// @use "functions";
@font-face {
    font-family: VT323;
    src: url('https://unpkg.com/xk-toolbox@1.2.2/styles/fonts/VT323-Regular.ttf');
}


@font-face {
    font-family: Rainbow100;
    src: url('fonts/WebPlus_Rainbow100_re_80.woff');
}

@font-face {
    font-family: Nix8x8;
    src: url('fonts/Web437_Nix8810_M16.woff');
}

@font-face {
    font-family: bitwise;
    src: url('https://unpkg.com/xk-toolbox@1.2.2/styles/fonts/bitwise.ttf');
}


@font-face {
    font-family: 'Courier Prime';
    src: url('/fonts/CourierPrime-Regular.ttf');
}

@font-face {
    font-family: 'Code New Roman';
    src: url('/fonts/code-new-roman.regular.otf');
}

@font-face {
    font-family: AcerVga8_2y;
    src: url('fonts/Web437_Acer_VGA_8x8-2y.woff');
}

:root {
    // --main-fg: 255, 255, 255;
    --main-fg: rgb(255, 255, 255);
    --main-bg: #000;
    --bg: var(--main-bg);
    --color: var(--main-fg);
    // --red-bg: #1b0302;
    --red-bg: #380604;
    --red-fg: #c0100a;
    --green-bg: #05321e;
    --green-fg: #5bf870;
    --blue-bg: #4242e7;
    --blue-fg: #a5a5ff;
    // --green-bg: 5, 50, 30;
    // --green-fg: 91, 248, 112;
    // --red-bg: 27, 3, 2;
    // --red-fg: 192, 16, 10;
    // --blue-bg: 66, 66, 231;
    // --blue-fg: 165, 165, 255;
    --caret: "█";
    --start: ">";
    --start-2: "$";
    --head: 50px;
    --text-font: 'Courier New', "Lucinda Console", 'Monaco', monospace;
    // --grid: linear-gradient(rgba(18, 16, 16, 0.03) 50%, rgba(0, 0, 0, 0.45) 50%),     linear-gradient(90deg, rgba(255, 0, 0, 0.22), rgba(0, 255, 0, 0.11), rgba(0, 0, 255, 0.22));
    --grid: linear-gradient(rgba(18, 16, 16, 0.03) 50%, rgba(0, 0, 0, 0.15) 50%), linear-gradient(90deg, rgba(192, 0, 0, 0.22), rgba(17, 51, 17, 0.11), rgba(17, 17, 51, 0.22));
    --crt: linear-gradient(90deg, rgba(50, 0, 0, 0.1)25%, rgba(0, 50, 0, 0.1)25%, rgba(0, 0, 50, 0.1)25%, transparent 25%);
    // --static: url('static1.png');
    
}

$head: 50px;

/*
.red,
*[data-color="red"] {
    // --bg: rgb();
    --bg: rgb(var(--red-bg));
    --color: rgb(var(--red-fg));
    --border-color: rgb(var(--red-fg));
}

.blue,
*[data-color="blue"] {
    // --bg: rgb();
    --bg: rgb(var(--blue-bg));
    --color: rgb(var(--blue-fg));
    --border-color: rgb(var(--blue-fg));
}

.green,
*[data-color="green"] {
    // --bg: rgb();
    --bg: rgb(var(--green-bg));
    --color: rgb(var(--green-fg));
    --border-color: rgb(var(--green-fg));
}

.default,
*[data-color="default"] {
    // --bg: rgb();
    --bg: rgb(var(--main-bg));
    --color: rgb(var(--main-fg));
    --border-color: rgb(var(--main-fg));
}
*/
.default,
*[data-color="black"] {
    --bg: var(--main-bg);
    --color: var(--main-fg);
    --border-color: var(--main-fg);
}

.red,
*[data-color="red"] {
    // --bg: rgb();
    --bg: var(--red-bg);
    --color: var(--red-fg);
    --border-color: var(--red-fg);
}

.green,
*[data-color="green"] {
    --bg: var(--green-bg);
    --color: var(--green-fg);
    --border-color: var(--green-fg);
}

.blue,
*[data-color="blue"] {
    --bg: var(--blue-bg);
    --color: var(--blue-fg);
    --border-color: var(--blue-fg);
}

$color: var(--color);
$bg: var(--bg);
$border: var(--border-color);

@mixin colors {
    background-color: $bg;
    color: $color;
    border-color: $border;
}

@mixin full {
    width: 100%;
    height: 100%;
}

.typewriter{
    &::after{content: var(--caret);}
    
}
body.terminal {
    background-color: var(--main-bg);
    color: var(--main-fg);
    overflow-y: hidden;
}

/* For ::before and ::after pseuodo elements*/
@mixin pseudo-effects {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

*[data-toggle="on"] {
    display: block;
}

*[data-toggle="off"] {
    display: none;
}

/*Terminal */
.terminal {
    font: 14px var(--text-font);
    @include full;
    line-height: 16px;
    box-sizing: border-box;
    background-color: var(--main-bg);
    color: var(--main-color);

    &::selection {
        background-color: var(--color);
        color: var(--bg);
        text-shadow: none;
    }
}

.terminal {
   
    header#top {
        border: 2px solid var(--color);
        background-color: transparent;
        width: 100%;
        height: 55px;
        position: fixed;
        z-index: 2;
        padding: 5px 0px;
        top: 0;
        
        #logo {
            display: inline-block;
            width: fit-content;
            color: inherit;
            margin: 10px 0;
            border-left: 2px solid $color;
            border-bottom: 2px solid $color;
            position: relative;
            z-index: inherit;
            font-family: Rainbow100, var(--text-font);
        }
        
        #nav-toggle {
            width: 40px;
            height: 40px;
            &:hover {
                background: $color;
                color: $bg;
                font-weight: bold;
            }
            img {
                margin: auto;
            }
        }
    }

    #screen {
        @include full;
        background-color: $bg;
        color: $color;
        overflow-y: hidden;
        animation: shadow 3s infinite, box-shadow 3s infinite,  text-flicker 0.01s infinite;
        ;
        
        #container {
            @include full;
        }

        #scanline {
            top: 0;
            left: 0;
            width: 100%;
            height: 10px;
            z-index: 1;
        }
    }

    #crt {
        @include full;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: radial-gradient(ellipse, transparent, rgba(0, 0, 0, 0.5)90%);

    }

    #content {
        padding: 5px;
        font-family: AcerVga8_2y, var(--text-font);
        font-size: 16px;
        // overflow-y: auto;
        position: relative;
        top: 50px;
    }

    footer {
        font-family: Nix8x8, var(--text-font);
        text-decoration: none;
        font-style: normal;
        width: 100%;
        padding-top: 5px;
        bottom: 0;
        height: 40px;
        border-top: 1px solid $color;
        position: fixed;
        background-color: var(--main-bg);
        z-index: 1;

    }
    button{
        @include colors;
        padding: 2px 10px;
        margin: 2.5px;
        background: rgba(0, 0, 0, 0);
        //border: 1px solid var(--border-color);
        border-width: 2px;
        box-shadow: 5px 5px 0 0 var(--grey-bg);
        font: 15px Rainbow100, monospace;
        box-shadow: 5px 5px 0 0 var(--grey-bg);
        &.sec-btn{
            width: 100%;
            &:hover:before {
                content: "►";
            }
        }
        &:hover {
            cursor: pointer;
            background-color: $color;
            color: $bg;
            border: 2px solid $border;
        }      

        &[data-active] {
            background-color: $color;
            color: $bg;
            border: 1px solid $bg;
        }
        &:disabled{
            text-decoration: line-through;
        }
        // #nav-toggle
    }
    
  
}

#glitch {
    animation: shadow 3s linear infinite;
}

#screen {
    &::before {
        @include pseudo-effects;
        @include full;
        background-color: var(--bg);
        background-image: radial-gradient(transparent 10%, rgba(0, 0, 0, 0.5) 90%);
        opacity: 0.75;
    }

    &::after {
        @include full;
        @include pseudo-effects;
        z-index: 4;
        display: block;
        pointer-events: none;
        background-image: var(--noise);
        opacity: 0.375;
        animation: noise 3s steps(5, end) infinite;
    }
}

.tv {
    background-image: var(--noise);
}

#crt {
    background-image:  radial-gradient(ellipse, transparent, rgba(0, 0, 0, 0.5)90%);
    #nav-strip {
        height: 20px;
        // width: 100%;
        margin: 5px 0px;
        display: inline-block;
        left: 10px;
        position: relative;

        ///animation: text-shadow linear timing-function delay iteration-count direction fill-mode;
    }
    /*&::before {
        @include pseudo-effects();
        content:"";
        // height: 100%;
        // width: 100%;
        // position: absolute;
        top: 0;
        left: 0;
        
        // z-index: 0;

    }*/

    &::after {
        // content: "";
        @include pseudo-effects;
        @include full;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 50%, transparent 50%);
        background-repeat: repeat-y;
        background-size: 100% 7px;
        z-index: 3;
        pointer-events: none;
        // opacity: 0.25;
    }
}

#scanline {
    &::after {
        content: "";
        width: 100%;
        height: 35px;
        bottom: 50%;
        background-image: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 0.15) 50%, transparent 50%);
        /* linear-gradient(to bottom, rgba(50, 3, 2,0.22)33%,rgba(17, 50, 17, 0.25)33%,rgba(66,66,231,0.22)33%); */
        /* background      : ; */
        animation: scan 3s linear infinite;
        background-size: 100%;
        animation-fill-mode: forwards;
        position: absolute;
        z-index: 3;
    }
}

#nav-strip {

    a {
        font: 16px Rainbow100, var(--text-font);
        height: auto;
        text-transform: uppercase;
        // border: 1px solid var(--red-fg);
        padding: 2px;
        margin: 0 2px;
        // background-color: $bg;
        color: $color;


        &:before {
            content: "[";
        }

        &:after {
            content: "]";
        }

        &:hover {
            background-color: $color;
            color: $bg;
            font-weight: bold;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

#container {
    #nav-toggle {
        float: right;
        right: 5px;
        top: 0;
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: var(--bg);
        color: var(--color);

        &:hover {
            background-color: var(--blue-bg);
            color: var(--blue-fg);
        }

        img {
            margin: auto;
        }
    }

    #nav-box {
        float: right;
        display: block;
        padding: 5px;

        #prev, #next {
            width: 25px;
            height: 25px;
            padding: 2.5px;

            &:hover {
                color: $bg;
                background-color: $color;
            }
        }

        #section {
            font: 14px Rainbow100, var(--text-font);
            overflow-y: auto;
        }
    }

    #nav-list {
        @include colors;
        position: absolute;
        z-index: 2;
        box-shadow: 3px 3px $color;
        animation: shadow 3s infinite, box-shadow 3s infinite;
        right: 5px;
        width: 150px;
        height: fit-content;
        max-height: 350px;
        margin: 0px 10px;
        border-left: 2px;
        padding: 10px;
        top: calc(55px + 5px);
        .sect-list {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            padding: 5px;
        }

       
    }
}

#content {
    // animation: text-flicker 0.01s infinite;
    overflow-y: auto;
    article{
        border-color: $border;
        padding: 5px 2px;
        border-top: 1px solid;
    }
    *:is(h1, h2, h3, h4, h5, h6) {
        font-family: Nix8x8, var(--text-font);
        margin-bottom: 10px;
        width: 500px;
        font-size: inherit;
        font-weight: normal;
        color: $color;
        text-transform: uppercase;
        text-decoration: underline;
        /* border-bottom: 2px dashed var(--color); */
        &:before {
            content: "> [";
        }

        &:after {
            content: "] >>";
        }
    }
    audio{
        border: 1px solid $border;
        color: $color;
    }
    hr {
        border: 1px solid var(--border-color);
        margin: 5px 0;
    }

    p {
        font-family: Rainbow100, var(--text-font);
    }
    
    strong {
        font-weight: bold;
    }

    pre {
        font-family: var(--text-font);
    }

    code {
        font-family: var(--text-font);
    }

    a {
        color: $color;

        &:after {
            color: var(--blue-fg);
            content: "[→]";
        }

        &:hover {
            color: var(--bg);
            background-color: var(--color);
        }

        &:active {
            color: var(--green-fg);
        }

        &:visited:before {
			content: "V_";
        }
		&:inactive{
			text-decoration: line-through;
		}
    }

    ul {
        list-style-type: var(--start);
        li{
            // padding: 2px;
            margin: 1px 0px;
            padding-left: 5px;
        }
    }

    blockquote {
        border: 2px solid var(--color);
        padding: 10px;
        width: fit-content;
    }

    section {
        width: 100%;
        height: 450px;
        overflow-y: auto;
        padding-left: 10px;

    }

    table {
        border-collapse: separate;
        border: 2px dashed $color;
        font-weight: normal;
    }

    th,
    td {
        padding: 5px;
    }

    .typewriter {
        content: var(--caret);
        animation: typewriter 3s steps(25) normal;
    }

    details {
        
        &[open] {

        }
    }

    summary {
        font-size: inherit;
        width: fit-content;

        &::marker {
            content: var(--start-2);
        }

        &:hover {
        cursor: pointer;
        }
    }

    .progress {
        border: $color;
        background-color: $bg;
        box-sizing: border-box;
        display: inline-block;
        // width:
        width: 100px;
        height: 20px;

        .fill {
            background-color: $color;
        }
    }

    progress {
        background-color: transparent;
        // height: ;
        border: 1px solid $border;
        color: $color;
    }

    progress[value] {
        $val: attr("value");
        $max: attr("max");
        content: "";
        background-color: $color;
    }

    video {
    }

    textarea {
        @include colors;
    }

    input {
        // background-color: var(--bg);
        background-color: transparent;
        color: var(--color);
        // &:
        // box-shadow: 5px 5px;
        border: none;

        &[type="text"],
        &[type="tel"],
        &[type="search"] {
            border-right: 2px solid var(--border-color);
            border-bottom: 2px solid var(--border-color);
            padding: 2px;
            margin: 2px;
        }

        &:invalid::before {
            content: "X";
        }

        &:valid::before {
            content: "Y";
        }
    }

    select {
        @include colors;
        min-width: 20px;

    }
}
